@charset "UTF-8";

body{

    width: 760px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    color: white;
    width: 760px;
    height: 100px;
    background-color: #ffff66;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

#header_part1{
    background-color: #000066;
    width: 200px;
    margin-left: 20px;
    margin-right: 80px;
}
#header_part2{
    background-color: #005500;
    width: 450px;
}

#header_part1, #header_part2{
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* None of the business with font-size,style and text-placement this time!*/

/* *{
    outline: 1px solid #ff0000;
}  */


#navi_ul_blk{
    height: 70px;
    background-color: #ccffcc;
    display: flex;

}

#navi_ul_blk ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    margin:auto;
}

/* ↑「#navi_ul_blk li」ではなく、「#navi_ul_blk ul」と書かないと、flex-directionプロパティで横並びにならなかった */
/* ↑selector{display: flex}は親要素に適用する！20220609 */

#navi_ul_blk ul li{
    width: 130px;
    height: 50px;
    background-color: #ffcccc;
    border-left: 5.0px solid #996699;
    border-top: 5.0px solid #996699;
    border-bottom: 5.0px solid #996699;
}

/* ↑「border-style: solid」がないとそもそも線が現れない。ここに結構手間取ってしまったので次は注意！ */


#navi_ul_blk ul li:nth-child(4){
    background-color: #66ffcc;
    border-right: 5.0px solid #996699;
}
/* li:nth-child(X) （※Xは任意の数字）という指定をしてはじめてうまく適用できた */
/* ↑.m4{
    background-color: #66ffcc;
    border-right: 5.0px solid #996699;
} 
こう書くと背景色がミドリに指定できなかった。何故??*/
/*↑ #navi_ul_blk ul li .m4{
    border-right: 5.0px solid #996699;
}
こう書くと、メニュー４の左側に線が現れなかった。
なので、classセレクタとIDセレクタは混ぜて使ってはいけない模様。何故?? */


